.word-spacing {
    word-spacing: 0.25rem; 
  }
  
  .k{
   
    position: absolute;
    left: 15.5rem;
  top: 16.5rem;
  z-index: -1;
  }
  .d{
    z-index: -1;
  }

 .index{
  z-index: 1;
  position:relative ;
 }