.word-spacing {
    word-spacing: 0.25rem; 
  }

  .container1::before {
    content: " ";
    position: absolute;
    width: 90px;
    height: 90px;
    left: -87px;
    border-radius: 100%;
    background: #FEFAE7 url('../img/li31.svg') no-repeat;
    background-size: 50px 50px;
    top: -2px;
    background-position: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.container2::before {
  content: " ";
  position: absolute;
  width: 90px;
  height: 90px;
  left: -87px;
  border-radius: 100%;
  background: #FEFAE7 url('../img/li32.svg') no-repeat;
  background-size: 50px 50px;
  top: -2px;
  background-position: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
} 
.container3::before {
  content: " ";
  position: absolute;
  width: 90px;
  height: 90px;
  left: -87px;
  border-radius: 100%;
  background: #FEFAE7 url('../img/li33.svg') no-repeat;
  background-size: 50px 50px;
  top: -2px;
  background-position: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.container4::before {
  content: " ";
  position: absolute;
  width: 90px;
  height: 90px;
  left: -87px;
  border-radius: 100%;
  background: #FEFAE7 url('../img/li34.svg') no-repeat;
  background-size: 50px 50px;
  top: -2px;
  background-position: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.container5::before {
  content: " ";
  position: absolute;
  width: 90px;
  height: 90px;
  left: -87px;
  border-radius: 100%;
  background: #FEFAE7 url('../img/li35.svg') no-repeat;
  background-size: 50px 50px;
  top: -2px;
  background-position: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.container6::before {
  content: " ";
  position: absolute;
  width: 90px;
  height: 90px;
  left: -87px;
  border-radius: 100%;
  background: #FEFAE7 url('../img/li36.svg') no-repeat;
  background-size: 50px 50px;
  top: -2px;
  background-position: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.container6::before {
  content: " ";
  position: absolute;
  width: 90px;
  height: 90px;
  left: -87px;
  border-radius: 100%;
  background: #FEFAE7 url('../img/li36.svg') no-repeat;
  background-size: 50px 50px;
  top: -2px;
  background-position: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.container7::before {
  content: " ";
  position: absolute;
  width: 90px;
  height: 90px;
  left: -87px;
  border-radius: 100%;
  background: #FEFAE7 url('../img/li37.svg') no-repeat;
  background-size: 50px 50px;
  top: 5px;
  background-position: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.container8::before {
  content: " ";
  position: absolute;
  width: 90px;
  height: 90px;
  left: -87px;
  border-radius: 100%;
  background: #FEFAE7 url('../img/li38.svg') no-repeat;
  background-size: 50px 50px;
  top: 9px;
  background-position: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}